# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rsharma/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rsharma/index.php [L]
</IfModule>
# END WordPress